/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
.header{
    height: 95vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111,0.8), rgb(40, 180, 133, 0.8)),
    url(/src/img/hero.jpg);
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    
}